waybar/.config/waybar/style.css
kitty/.config/kitty/current-theme.conf
ghostty/.config/ghostty/theme.conf
legacy_nvim/.config/nvim/lazy-lock.json
new_nvim/.config/nvim/lazy-lock.json
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables
AGENTS.md
*.bak
