/* Earthsong Theme */
@define-color bar_bg                  rgba(40, 36, 32, 0.55);
@define-color module_bg               rgba(51, 46, 41, 0.7);
@define-color module_border           rgba(229, 198, 168, 0.2);
@define-color global_fg               #e5c6a8;
@define-color tooltip_bg              rgba(17, 20, 23, 0.95);
@define-color tooltip_border          #5ed9ff;
@define-color appmenu_fg              #5ed9ff;
@define-color appmenu_hover_fg        #dfd561;
@define-color cpu_fg                  #c84134;
@define-color temperature_fg          #fb9e00;
@define-color disk_fg                 #e5c5a9;
@define-color gpu_fg                  #1397b9;
@define-color memory_fg               #4f9452;
@define-color taskbar_btn_bg          rgba(51, 46, 41, 0.6);
@define-color taskbar_btn_border      rgba(19, 151, 185, 0.4);
@define-color taskbar_btn_hover_bg    rgba(61, 53, 48, 0.85);
@define-color taskbar_btn_hover_border rgba(94, 217, 255, 0.8);
@define-color taskbar_btn_active_bg   rgba(94, 217, 255, 0.6);
@define-color taskbar_btn_active_border #5ed9ff;
@define-color clock_fg                #dfd561;
@define-color tray_hover_fg           #f6f6ec;
@define-color logout_fg               #f6f6ec;
@define-color logout_hover_fg         #dfd561;
@define-color menuitem_fg             #e5c6a8;
@define-color menuitem_bg             #282420;
@define-color menuitem_hover_bg       #3d3530;
@define-color menuitem_hover_fg       #f6f6ec;
@define-color theme_fg                #f6f6ec;
@define-color mpris_fg                #1397b9;
