/* Flatland Theme */
@define-color bar_bg                  rgba(42, 43, 43, 0.55);
@define-color module_bg               rgba(73, 76, 78, 0.7);
@define-color module_border           rgba(216, 216, 216, 0.2);
@define-color global_fg               #d8d8d8;
@define-color tooltip_bg              rgba(32, 32, 32, 0.95);
@define-color tooltip_border          #b23e48;
@define-color appmenu_fg              #b23e48;
@define-color appmenu_hover_fg        #ffeb3b;
@define-color cpu_fg                  #c239b3;
@define-color temperature_fg          #ff9800;
@define-color disk_fg                 #4dd0e1;
@define-color gpu_fg                  #2196f3;
@define-color memory_fg               #4caf50;
@define-color taskbar_btn_bg          rgba(73, 76, 78, 0.6);
@define-color taskbar_btn_border      rgba(178, 62, 72, 0.4);
@define-color taskbar_btn_hover_bg    rgba(89, 93, 96, 0.85);
@define-color taskbar_btn_hover_border rgba(255, 235, 59, 0.8);
@define-color taskbar_btn_active_bg   rgba(255, 235, 59, 0.6);
@define-color taskbar_btn_active_border #ffeb3b;
@define-color clock_fg                #ffeb3b;
@define-color tray_hover_fg           #d8d8d8;
@define-color logout_fg               #d8d8d8;
@define-color logout_hover_fg         #ffeb3b;
@define-color menuitem_fg             #d8d8d8;
@define-color menuitem_bg             #1d1d1d;
@define-color menuitem_hover_bg       #3d3d3d;
@define-color menuitem_hover_fg       #ffeb3b;
@define-color theme_fg                #ffeb3b;
@define-color mpris_fg                #4dd0e1;
