/* Gruvbox Theme */
@define-color bar_bg                  rgba(40, 40, 40, 0.55);
@define-color module_bg               rgba(60, 56, 54, 0.7);
@define-color module_border           rgba(235, 219, 178, 0.2);
@define-color global_fg               #ebdbb2;
@define-color tooltip_bg              rgba(40, 40, 40, 0.95);
@define-color tooltip_border          #fe8019;
@define-color appmenu_fg              #fe8019;
@define-color appmenu_hover_fg        #fabd2f;
@define-color cpu_fg                  #fb4934;
@define-color temperature_fg          #fe8019;
@define-color disk_fg                 #b8bb26;
@define-color gpu_fg                  #83a598;
@define-color memory_fg               #8ec07c;
@define-color taskbar_btn_bg          rgba(60, 56, 54, 0.6);
@define-color taskbar_btn_border      rgba(254, 128, 25, 0.4);
@define-color taskbar_btn_hover_bg    rgba(80, 73, 69, 0.85);
@define-color taskbar_btn_hover_border rgba(250, 189, 47, 0.8);
@define-color taskbar_btn_active_bg   rgba(250, 189, 47, 0.6);
@define-color taskbar_btn_active_border #fabd2f;
@define-color clock_fg                #fabd2f;
@define-color tray_hover_fg           #ebdbb2;
@define-color logout_fg               #ebdbb2;
@define-color logout_hover_fg         #fabd2f;
@define-color menuitem_fg             #ebdbb2;
@define-color menuitem_bg             #282828;
@define-color menuitem_hover_bg       #3c3836;
@define-color menuitem_hover_fg       #fabd2f;
@define-color theme_fg                #fabd2f;
@define-color mpris_fg                #8ec07c;
