/* Night Owl Theme */
@define-color bar_bg                  rgba(1, 22, 39, 0.55);
@define-color module_bg               rgba(17, 48, 80, 0.7);
@define-color module_border           rgba(214, 222, 235, 0.2);
@define-color global_fg               #d6deeb;
@define-color tooltip_bg              rgba(1, 22, 39, 0.95);
@define-color tooltip_border          #addb67;
@define-color appmenu_fg              #7fdbca;
@define-color appmenu_hover_fg        #addb67;
@define-color cpu_fg                  #ff5874;
@define-color temperature_fg          #ffb86c;
@define-color disk_fg                 #addb67;
@define-color gpu_fg                  #7fdbca;
@define-color memory_fg               #21c7a8;
@define-color taskbar_btn_bg          rgba(17, 48, 80, 0.6);
@define-color taskbar_btn_border      rgba(127, 219, 202, 0.4);
@define-color taskbar_btn_hover_bg    rgba(34, 73, 115, 0.85);
@define-color taskbar_btn_hover_border rgba(173, 219, 103, 0.8);
@define-color taskbar_btn_active_bg   rgba(173, 219, 103, 0.6);
@define-color taskbar_btn_active_border #addb67;
@define-color clock_fg                #addb67;
@define-color tray_hover_fg           #d6deeb;
@define-color logout_fg               #d6deeb;
@define-color logout_hover_fg         #addb67;
@define-color menuitem_fg             #d6deeb;
@define-color menuitem_bg             #0f172a;
@define-color menuitem_hover_bg       #112340;
@define-color menuitem_hover_fg       #addb67;
@define-color theme_fg                #addb67;
@define-color mpris_fg                #21c7a8;
