/* Original Theme */
@define-color bar_bg                  rgba(20, 20, 35, 0.65);
@define-color module_bg               rgba(45, 45, 70, 0.75);
@define-color module_border           rgba(224, 224, 255, 0.2);
@define-color global_fg               #e0e0ff;
@define-color tooltip_bg              rgba(20, 20, 35, 0.95);
@define-color tooltip_border          #2979ff;
@define-color appmenu_fg              #2979ff;
@define-color appmenu_hover_fg        #00e676;
@define-color cpu_fg                  #ff4081;
@define-color temperature_fg          #ff9100;
@define-color disk_fg                 #00e676;
@define-color gpu_fg                  #00bcd4;
@define-color memory_fg               #2979ff;
@define-color taskbar_btn_bg          rgba(45, 45, 70, 0.6);
@define-color taskbar_btn_border      rgba(41, 121, 255, 0.4);
@define-color taskbar_btn_hover_bg    rgba(60, 60, 90, 0.85);
@define-color taskbar_btn_hover_border rgba(0, 230, 118, 0.8);
@define-color taskbar_btn_active_bg   rgba(0, 230, 118, 0.6);
@define-color taskbar_btn_active_border #00e676;
@define-color clock_fg                #d500f9;
@define-color tray_hover_fg           #e0e0ff;
@define-color logout_fg               #e0e0ff;
@define-color logout_hover_fg         #00e676;
@define-color menuitem_fg             #e0e0ff;
@define-color menuitem_bg             #141423;
@define-color menuitem_hover_bg       #2d2d46;
@define-color menuitem_hover_fg       #00e676;
@define-color theme_fg                #00e676;
@define-color mpris_fg                #00bcd4;
