/* Palenight Theme */
@define-color bar_bg                  rgba(41, 45, 62, 0.55);
@define-color module_bg               rgba(69, 76, 108, 0.7);
@define-color module_border           rgba(183, 196, 207, 0.2);
@define-color global_fg               #b7c4cf;
@define-color tooltip_bg              rgba(33, 37, 53, 0.95);
@define-color tooltip_border          #c792ea;
@define-color appmenu_fg              #c792ea;
@define-color appmenu_hover_fg        #f07178;
@define-color cpu_fg                  #f07178;
@define-color temperature_fg          #ffb270;
@define-color disk_fg                 #c3e88d;
@define-color gpu_fg                  #89ddff;
@define-color memory_fg               #82b1ff;
@define-color taskbar_btn_bg          rgba(69, 76, 108, 0.6);
@define-color taskbar_btn_border      rgba(199, 146, 234, 0.4);
@define-color taskbar_btn_hover_bg    rgba(89, 100, 140, 0.85);
@define-color taskbar_btn_hover_border rgba(240, 113, 120, 0.8);
@define-color taskbar_btn_active_bg   rgba(240, 113, 120, 0.6);
@define-color taskbar_btn_active_border #f07178;
@define-color clock_fg                #f07178;
@define-color tray_hover_fg           #b7c4cf;
@define-color logout_fg               #b7c4cf;
@define-color logout_hover_fg         #f07178;
@define-color menuitem_fg             #b7c4cf;
@define-color menuitem_bg             #292d3e;
@define-color menuitem_hover_bg       #454c6c;
@define-color menuitem_hover_fg       #f07178;
@define-color theme_fg                #f07178;
@define-color mpris_fg                #89ddff;
