/* Shades of Purple Theme */
@define-color bar_bg                  rgba(36, 29, 50, 0.55);
@define-color module_bg               rgba(64, 51, 97, 0.7);
@define-color module_border           rgba(193, 192, 192, 0.2);
@define-color global_fg               #c1c0c0;
@define-color tooltip_bg              rgba(26, 20, 38, 0.95);
@define-color tooltip_border          #a599e9;
@define-color appmenu_fg              #a599e9;
@define-color appmenu_hover_fg        #ff2492;
@define-color cpu_fg                  #ff2492;
@define-color temperature_fg          #ffd701;
@define-color disk_fg                 #18f988;
@define-color gpu_fg                  #7aa5ff;
@define-color memory_fg               #68f2ff;
@define-color taskbar_btn_bg          rgba(64, 51, 97, 0.6);
@define-color taskbar_btn_border      rgba(165, 153, 233, 0.4);
@define-color taskbar_btn_hover_bg    rgba(87, 71, 132, 0.85);
@define-color taskbar_btn_hover_border rgba(255, 36, 146, 0.8);
@define-color taskbar_btn_active_bg   rgba(255, 36, 146, 0.6);
@define-color taskbar_btn_active_border #ff2492;
@define-color clock_fg                #ffd701;
@define-color tray_hover_fg           #c1c0c0;
@define-color logout_fg               #c1c0c0;
@define-color logout_hover_fg         #ff2492;
@define-color menuitem_fg             #c1c0c0;
@define-color menuitem_bg             #1a1426;
@define-color menuitem_hover_bg       #403263;
@define-color menuitem_hover_fg       #ff2492;
@define-color theme_fg                #ff2492;
@define-color mpris_fg                #68f2ff;
