/* Solarized Dark Theme */
@define-color bar_bg                  rgba(0, 43, 54, 0.55);
@define-color module_bg               rgba(7, 54, 66, 0.7);
@define-color module_border           rgba(147, 161, 161, 0.2);
@define-color global_fg               #93a1a1;
@define-color tooltip_bg              rgba(0, 43, 54, 0.95);
@define-color tooltip_border          #268bd2;
@define-color appmenu_fg              #268bd2;
@define-color appmenu_hover_fg        #859900;
@define-color cpu_fg                  #dc322f;
@define-color temperature_fg          #cb4b16;
@define-color disk_fg                 #859900;
@define-color gpu_fg                  #2aa198;
@define-color memory_fg               #268bd2;
@define-color taskbar_btn_bg          rgba(7, 54, 66, 0.6);
@define-color taskbar_btn_border      rgba(38, 139, 210, 0.4);
@define-color taskbar_btn_hover_bg    rgba(14, 71, 87, 0.85);
@define-color taskbar_btn_hover_border rgba(133, 153, 0, 0.8);
@define-color taskbar_btn_active_bg   rgba(133, 153, 0, 0.6);
@define-color taskbar_btn_active_border #859900;
@define-color clock_fg                #859900;
@define-color tray_hover_fg           #93a1a1;
@define-color logout_fg               #93a1a1;
@define-color logout_hover_fg         #859900;
@define-color menuitem_fg             #93a1a1;
@define-color menuitem_bg             #002b36;
@define-color menuitem_hover_bg       #073642;
@define-color menuitem_hover_fg       #859900;
@define-color theme_fg                #859900;
@define-color mpris_fg                #2aa198;
